#============================
#   Python
#============================
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environment
Venv/
env/
.Venv/

#============================
#   Environment Variables
#============================
.env

#============================
#   Logs
#============================
Logs/
*.log

#============================
#   Jupyter
#============================
.ipynb_checkpoints/

# ==========================
#   Pytest
# ==========================
.Pytest_cache/
.coverage/
htmlcov/

# ==========================
#   Build Files
# ==========================
build/
dist/
*.egg-info/

# ==========================
#   IDE
# ==========================
.vscode/
.idea

# ==========================
#   Operating System
# ==========================
.DS_Store
Thumbs.db

# ==========================
#   Spark
# ==========================
spark-warehouse/
metastore_db/

# ==========================
#   Airflow
# ==========================
airflow.db
airflow-webserver.pid

# ==========================
#   Local Data
# ==========================
data/raw/
data/temp/
data/output/
data/*.csv

# ==========================
#   Hadoop
# ==========================
tmp/
warehouse/

# ==========================
#   Docker
# ==========================
*.tar